footer {
    width: 100%;
}

.footer-border {
    width: 100%;
    border-top: 1px solid #70707036;
    margin: 100px 0 85px;

    @include tab {
        margin: 60px 0;
    }
}

.footer-items {
    width: 100%;
    height: 37px;
    line-height: 37px;
    display: flex;

    @include tab {
        flex-direction: column;
    }
}

.footer-logo_box {
    display: flex;

    @include tab{
        justify-content: space-between;
        order: 1;
    }
}

.footer-logo {
    color: #7070704D;
    font-size: 3.2rem;
    display: flex;

    @include tab {
        font-size: 1.8rem;
    }
 
}

.link{
    display: flex;
    color: #000;
    margin-left: 17px;

    li {
        margin-left: 9px;
    }


}

.footer-btn {
    width: 185px;
    height: 37px;
    line-height: 37px;
    align-items: center;
    background-color: #fff;
    color: #707070;
    border-color: #707070;
    font-size: 18px;
    margin-left: auto;

    @include tab {
        margin: 0 auto 60px auto;
    }
}


