/* mixin */
// PC画面サイズ以上
@mixin pc {
    @media (min-width:1025px){
        @content;
    }
}

// タブレット画面
@mixin tab {
    @media (max-width:1024px){
        @content;
    }
}

// スマホ画面
@mixin sp {
    @media (max-width:599px){
        @content;
    }
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.inner {
    width: 85%;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 70px;

    @include sp {
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }
}

.inner-access {
    width: 100%;
    padding-bottom: 70px;
}

.title {
    display: flex;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 11px;
    font-size: 1.8rem;
    color: #707070;

    @include tab {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 60px;
        padding-bottom: 50px;
    }

    &::after {
        content: "";
        height: 1px;
        flex-grow: 0.1;
        background-color: #707070;
        margin-left: 23px;

        @include sp {
            flex-grow: 0.2;
        }
    }
}

.title-access {
    margin-left: 105px;

    @include tab {
        margin-left: 28px;
    }
}

.hamburger-menu {
    @include pc {
        display: none;
    }
}